body {
font-family: 'Raleway',
    sans-serif;
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.header-nav {
    color: #2E2F42;
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
}

.hero {
    background: #2E2F42;
    font-family: 'Roboto', sans-serif;
}


h2 {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.1;
        color: #2E2F42;
}

h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;
}

.description {
font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}

a:hover {
    color:#FFFFFF ;
    background: #404BBF;
}

button[type="button"] {
    cursor: pointer
}

button[type="button"]:hover {
    color: #FFFFFF;
    background: #404BBF;
}

.logo {
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.2;
        color: #4D5AE5;
        letter-spacing: 0.03em;
            text-transform: uppercase;
}

.logo-particle {
    color: #2E2F42;
}

.list {
    list-style: none
}

.main-title {
    color: #FFFFFF;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.2;
        letter-spacing: 0.02em;
}