body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
 
.logo {
    font-family: 'Raleway',
        sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    color: #4d5ae5;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-particle-header {
    color: #2E2F42; 
}

.logo-particle-footer {
    color: #f4f4fd;
}
.header-address {
    font-style: normal
}

.link{
text-decoration: none;
}

.list {
    list-style: none
}

.nav-menu {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
    
        /* identical to box height, or 150% */
        letter-spacing: 0.02em;
    
        /* NAVY BLUE */
        color: #2E2F42;
}

.nav-menu:hover,
.nav-menu:focus {
color: #404bbf
}

.header-nav {
    color: #2E2F42;
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
}

.hero {
    background: #2E2F42;
    font-family: 'Roboto', sans-serif;
}


.section-title {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.1;
        color: #2E2F42;
}

.card-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;
}

.description {
font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}

a:hover {
    color:#FFFFFF ;
    background: #404BBF;
}

button[type="button"] {
    cursor: pointer
}

button[type="button"]:hover {
    color: #FFFFFF;
    background: #404BBF;
}







.main-title {
    color: #FFFFFF;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.2;
        letter-spacing: 0.02em;
}

.site-footer {
    background: #2E2F42;

}