:root {
    --color-iris: #4D5AE5;
        --color-ocean: #404BBF;
        --color-green: #31D0AA;
        --color-slate: #434455;
        --color-light-slate: #8E8F99;
        --color-cornflower: #E7E9FC;
        --color-cloud: #F4F4FD;
        --color-grey: #2E2F42;
        --color-white: #ffffff;
        --color-dairy: #FCFCFC;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: var(--color-slate);
    background-color: var(--color-white);
}
 


.logo-particle-header {
    color: var(--color-grey); 
}

.logo-particle-footer {
    color: var(--color-cloud);
}
.header-address {
    font-style: normal;
}

.address-item {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--color-slate);
}

.address-item:hover {
    color: var(--color-ocean);
}

.address-item:focus {
    color: var(--color-ocean);
}

.link{
text-decoration: none;
}



.nav-menu {
    
        
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
    
        /* identical to box height, or 150% */
        letter-spacing: 0.02em;
    
        /* NAVY BLUE */
        color: var(--color-grey);
}
/* .header-nav:hover{
color: var(--color-ocean);
}

.header-nav:focus {
color: var(--color-ocean);
} */

.header-nav {
    color: var(--color-grey);
    
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
}

.hero {
    background: var(--color-grey);
    font-family: 'Roboto', sans-serif;
}


.section-title {
    
        
        font-weight: 700;
        font-size: 36px;
        line-height: 1.1;
        color: var(--color-grey);
}

.section-title-two {
letter-spacing: 0.02em;
}

.section-title-three {
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;

}

.section-four {
    background-color: var(--color-cloud);
}

.section-title-four {
 
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;

}

.list-item {
    background-color: var(--color-white);
    
}

.card-title {

    
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--color-grey);
    letter-spacing: 0.02em;
}

.description {

    font-size: 16px;
    line-height: 1.5;
    color: var(--color-slate);
    letter-spacing: 0.02em;
}

.footer-description {
    color: var(--color-cloud);
}

.filter {

        
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--color-iris);
        
}



.filter-button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--color-iris);
    background-color: var(--color-cloud);
    cursor: pointer;
}

.filter-button:hover {


    background-color: var(--color-ocean);
    color: var(--color-white);
}

.filter-button:focus {

    background-color: var(--color-ocean);
    color: var(--color-white);
}

/* button[type="button"] {
    cursor: pointer
} */

button[type="button"]:hover {
    background: var(--color-ocean);
}

button[type="button"]:focus {
    background: var(--color-ocean);
}

.project-card {
    
}

.main-title {
    color: var(--color-white);
   
       
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
}

.main-button {
    background-color: var(--color-iris);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--color-white);
    cursor: pointer;
}

.site-footer {
    background: var(--color-grey);
}

.logo {
    font-family: 'Raleway',
        sans-serif;
    
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    color: var(--color-iris);
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.list {
    list-style: none;
}